<div>    
        <div class="row justify-content-center">
            <div class="col-md-8">
    
                <h2 jhiTranslate="password.title" [translateValues]="{username: account.login}" *ngIf="account">Password for
                    [<b>{{account.login}}</b>]</h2>
    
                <div class="alert alert-success" *ngIf="success" jhiTranslate="password.messages.success">
                    <strong>Password changed!</strong>
                </div>
                <div class="alert alert-danger" *ngIf="error" jhiTranslate="password.messages.error">
                    <strong>An error has occurred!</strong> The password could not be changed.
                </div>

                <div class="alert alert-danger" *ngIf="doNotMatch" jhiTranslate="global.messages.error.dontmatch">
                        The password and its confirmation do not match!
                </div>
            
                <form name="form" [formGroup]="formFC" (ngSubmit)="changePassword()">
    
                    <div class="row">
                            <mat-form-field color="accent" appearance="outline" class="forminput"
                                [matTooltip]="'global.form.currentpassword' | translate"
                                >
                                    <mat-label jhiTranslate="global.form.currentpassword">Current Password</mat-label>
                                    <input matInput
                                        formControlName="currentPassword"
                                        placeholder="{{'global.form.currentpassword.placeholder' | translate}}"
                                        [errorStateMatcher]="esMatcher"
                                        [type]="hide ? 'password' : 'text'"
                                        id="currentPassword" name="currentPassword" [(ngModel)]="currentPassword"
                                        >
                                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    <mat-error *ngIf="formFC.get('currentPassword').hasError('required')" jhiTranslate="global.messages.validate.newpassword.required"
                                    >Your current password is required.
                                    </mat-error>
                                    <mat-error *ngIf="formFC.get('currentPassword').hasError('minlength')"
                                    jhiTranslate="global.messages.validate.newpassword.minlength">                    
                                        >Your password is required to be at least 4 characters.
                                    </mat-error>
                                    <mat-error *ngIf="formFC.get('currentPassword').hasError('maxlength')"
                                        jhiTranslate="global.messages.validate.newpassword.maxlength"
                                        >Your password cannot be longer than 50 characters.
                                    </mat-error>
                                    <mat-error *ngIf="formFC.get('currentPassword').hasError('pattern')">
                                        Bad Pattern.
                                    </mat-error>
                            </mat-form-field>
                    </div>
        
                    <div class="row">
                        <mat-form-field color="accent" appearance="outline" class="forminput"
                            [matTooltip]="'global.form.newpassword' | translate"
                            >
                                <mat-label jhiTranslate="global.form.newpassword">New Password</mat-label>
                                <input matInput placeholder="{{'global.form.newpassword.placeholder' | translate}}"
                                    formControlName="newPassword"
                                    [errorStateMatcher]="esMatcher"
                                    [type]="hide ? 'password' : 'text'"
                                    id="newPassword" name="newPassword" [(ngModel)]="newPassword"
                                    >
                                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                <mat-error *ngIf="formFC.get('newPassword').hasError('required')" jhiTranslate="global.messages.validate.newpassword.required">
                                    Your new password is required.
                                </mat-error>
                                <mat-error *ngIf="formFC.get('newPassword').hasError('minlength')"
                                jhiTranslate="global.messages.validate.newpassword.minlength">                    
                                    Your password is required to be at least 4 characters.
                                </mat-error>
                                <mat-error *ngIf="formFC.get('newPassword').hasError('maxlength')"
                                    jhiTranslate="global.messages.validate.newpassword.maxlength">
                                    Your password cannot be longer than 50 characters.
                                </mat-error>
                                <mat-error *ngIf="formFC.get('newPassword').hasError('pattern')">
                                    Bad Pattern.
                                </mat-error>
                        </mat-form-field>
                    </div>
            
                    <div>
                        <jhi-password-strength-bar [passwordToCheck]="newPassword"></jhi-password-strength-bar>
                    </div>
    
                    <div class="row">
                            <mat-form-field color="accent" appearance="outline" class="forminput"
                                [matTooltip]="'global.form.confirmpassword' | translate"
                                >
                                    <mat-label jhiTranslate="global.form.confirmpassword">Confirmation Password</mat-label>
                                    <input matInput placeholder="{{'global.form.confirmpassword.placeholder' | translate}}"
                                        formControlName="confirmPassword"
                                        [errorStateMatcher]="esMatcher"
                                        [type]="hide ? 'password' : 'text'"
                                        id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword"
                                        >
                                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    <mat-error *ngIf="formFC.get('confirmPassword').hasError('required')" jhiTranslate="global.messages.validate.newpassword.required">
                                        Your confirmation password is required.
                                    </mat-error>
                                    <mat-error *ngIf="formFC.get('confirmPassword').hasError('minlength')"
                                    jhiTranslate="global.messages.validate.newpassword.minlength">                    
                                        Your confirmation password is required to be at least 4 characters.
                                    </mat-error>
                                    <mat-error *ngIf="formFC.get('confirmPassword').hasError('maxlength')"
                                        jhiTranslate="global.messages.validate.newpassword.maxlength">
                                        Your confirmation password cannot be longer than 50 characters.
                                    </mat-error>
                                    <mat-error *ngIf="formFC.get('confirmPassword').hasError('pattern')">
                                        Bad Pattern.
                                    </mat-error>
                            </mat-form-field>
                     </div>
    
                    <div class="row">
                        <button color="primary" type="submit" mat-raised-button [disabled]="formFC.invalid">
                            <mat-icon matSuffix>check_circle_outline</mat-icon>&nbsp;<span
                                jhiTranslate="password.form.button">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
