<div [class.alternative]="otherTheme">
    <mat-toolbar color="primary" class="navbar navbar-expand-md">
        <mat-toolbar-row>
            <button mat-button color="accent" class="navbar-brand logo float-left" routerLink="/"
                (click)="collapseNavbar()">
                <span class="logo-img"></span> <span jhiTranslate="global.title"
                    class="navbar-title">Jhipster</span> <span
                    class="navbar-version">{{version}}</span>
            </button>
            <div fxFlex fxLayout fxShow.gt-sm>
                <mat-slide-toggle mat-button (click)="changeTheme()">
                </mat-slide-toggle>
            </div>
            <div fxFlex fxLayout fxShow="false" fxShow.gt-sm fxLayoutAlign="flex-end" [ngbCollapse]="isNavbarCollapsed"
                [ngSwitch]="isAuthenticated()">
                <ul fxLayout fxLayoutGap="20px" ml-auto class="navbar-nav">

                    <li fxHide.xs routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <button mat-icon-button color="accent" [matTooltip]="'global.menu.home' | translate"
                            class="nav-link" routerLink="/" (click)="collapseNavbar()">
                            <mat-icon>home</mat-icon>
                        </button>
                    </li>

                    <li *ngSwitchCase="true" class="nav-item" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}">
                        <button mat-icon-button color="accent" [matTooltip]="'global.menu.entities.main' | translate"
                            [matMenuTriggerFor]="entities">
                            <mat-icon>list</mat-icon>
                        </button>
                    </li>

                    <li *jhiHasAnyAuthority="'ROLE_ADMIN'" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}">
                        <button mat-icon-button color="accent" [matTooltip]="'global.menu.admin.main' | translate"
                            [matMenuTriggerFor]="administration">
                            <mat-icon>build</mat-icon>
                        </button>
                    </li>

                    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                            *ngIf="languages && languages.length > 1">
                        <button mat-icon-button color="accent" [matTooltip]="'global.menu.language' | translate"
                            [matMenuTriggerFor]="language">
                            <mat-icon>flag</mat-icon>
                        </button>
                    </li>

                    <li class="nav-item" placement="bottom-right" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}">
                        <button mat-icon-button color="accent" [matTooltip]="'global.menu.account.main' | translate"
                            [matMenuTriggerFor]="account" mat-icon-button>
                            <!-- <span *ngIf="!getImageUrl()"> -->
                            <mat-icon>account_circle</mat-icon>
                            <!-- </span> -->
                            <!-- <span *ngIf="getImageUrl()">
                            <img [src]="getImageUrl()" class="profile-image img-circle" alt="Avatar">
                        </span> -->
                        </button>
                    </li>
                </ul>
            </div>
            <button fxFlex fxLayout mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm
                fxLayoutAlign="end start">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <mat-menu x-position="before" #menu="matMenu">
        <div [ngSwitch]="isAuthenticated()">
            <button mat-menu-item routerLink="/" routerLinkActive="active">
                <mat-icon>home</mat-icon>
                <span jhiTranslate="global.menu.home">Home</span>
            </button>

            <button *ngSwitchCase="true" mat-menu-item [matMenuTriggerFor]="entities">
                <mat-icon matTooltip="Entities">list</mat-icon>
                <span jhiTranslate="global.menu.entities.main"> Entities </span>
            </button>

            <button *ngSwitchCase="true" mat-menu-item [matMenuTriggerFor]="administration">
                <mat-icon matTooltip="Administration">build</mat-icon>
                <span jhiTranslate="global.menu.admin.main"> Administration </span>
            </button>

            <button mat-menu-item [matMenuTriggerFor]="language"
                    *ngIf="languages && languages.length > 1">
                <mat-icon matTooltip="Language">flag</mat-icon>
                <span jhiTranslate="global.menu.language"> Language </span>
            </button>

            <button mat-menu-item [matMenuTriggerFor]="account">
                <mat-icon matTooltip="Account">account_circle</mat-icon>
                <span jhiTranslate="global.menu.account.main"> Account </span>
            </button>

        </div>
    </mat-menu>

    <mat-menu #entities="matMenu">

        <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->

    </mat-menu>

    <mat-menu #language="matMenu">
        <button *ngFor="let language of languages" mat-menu-item [jhiActiveMenu]="language"
            (click)="changeLanguage(language);collapseNavbar();">{{language | findLanguageFromKey}}</button>
    </mat-menu>

    <mat-menu #administration="matMenu">

        <button mat-menu-item color="accent" routerLink="admin/user-management" routerLinkActive="active"
            (click)="collapseNavbar()">
            <!--fa-icon [icon]="'user'" [fixedWidth]="true"></fa-icon-->
            <mat-icon matSuffix>group</mat-icon>
            <span jhiTranslate="global.menu.admin.userManagement">User management</span>
        </button>


        <button mat-menu-item color="accent" routerLink="admin/jhi-tracker" routerLinkActive="active"
            (click)="collapseNavbar()">
            <!--fa-icon [icon]="'eye'" [fixedWidth]="true"></fa-icon-->
            <mat-icon matSuffix>visibility</mat-icon>
            <span jhiTranslate="global.menu.admin.tracker">User tracker</span>
        </button>


        <button mat-menu-item color="accent" routerLink="admin/jhi-metrics" routerLinkActive="active"
            (click)="collapseNavbar()">
            <!--fa-icon [icon]="'tachometer-alt'" [fixedWidth]="true"></fa-icon-->
            <mat-icon matSuffix>timeline</mat-icon>
            <span jhiTranslate="global.menu.admin.metrics">Metrics</span>
        </button>

        <button mat-menu-item color="accent" routerLink="admin/jhi-health" routerLinkActive="active"
            (click)="collapseNavbar()">
            <!--fa-icon [icon]="'heart'" [fixedWidth]="true"></fa-icon-->
            <mat-icon matSuffix>favorite</mat-icon>
            <span jhiTranslate="global.menu.admin.health">Health</span>
        </button>

        <button mat-menu-item color="accent" routerLink="admin/jhi-configuration" routerLinkActive="active"
            (click)="collapseNavbar()">
            <!--fa-icon [icon]="'list'" [fixedWidth]="true"></fa-icon-->
            <mat-icon matSuffix>settings</mat-icon>
            <span jhiTranslate="global.menu.admin.configuration">Configuration</span>
        </button>

        <button mat-menu-item color="accent" routerLink="admin/audits" routerLinkActive="active"
            (click)="collapseNavbar()">
            <!--fa-icon [icon]="'bell'" [fixedWidth]="true"></fa-icon-->
            <mat-icon matSuffix>notifications</mat-icon>
            <span jhiTranslate="global.menu.admin.audits">Audits</span>
        </button>

        <button mat-menu-item color="accent" routerLink="admin/logs" routerLinkActive="active"
            (click)="collapseNavbar()">
            <!--fa-icon [icon]="'tasks'" [fixedWidth]="true"></fa-icon-->
            <mat-icon matSuffix>format_list_bulleted</mat-icon>            
            <span jhiTranslate="global.menu.admin.logs">Logs</span>
        </button>

        <button mat-menu-item color="accent" routerLink="admin/docs" routerLinkActive="active"
            (click)="collapseNavbar()">
            <!--fa-icon [icon]="'book'" [fixedWidth]="true"></fa-icon-->
            <mat-icon matSuffix>assignment</mat-icon>
            <span jhiTranslate="global.menu.admin.apidocs">API</span>
        </button>

        <button *ngIf="!inProduction" mat-menu-item color="accent"
            (click)="openURL('./h2-console')"
            >
            <!--fa-icon [icon]="'hdd'" [fixedWidth]="true"></fa-icon-->
            <mat-icon matSuffix>storage</mat-icon>
            <span jhiTranslate="global.menu.admin.database">Database</span>
        </button>
    </mat-menu>

    <mat-menu #account="matMenu" [ngSwitch]="isAuthenticated()">
        <div *ngSwitchCase="true">

            <button mat-menu-item color="accent" routerLink="settings" routerLinkActive="active"
                (click)="collapseNavbar()">
                <mat-icon matSuffix>build</mat-icon>
                <span jhiTranslate="global.menu.account.settings">Settings</span>
            </button>

            <button mat-menu-item color="accent" routerLink="password" routerLinkActive="active"
                (click)="collapseNavbar()">
                <mat-icon matSuffix>lock</mat-icon>
                <span jhiTranslate="global.menu.account.password">Password</span>
            </button>


            <button mat-menu-item color="accent" (click)="logout()" id="logout">
                <mat-icon matSuffix>close</mat-icon>
                <span jhiTranslate="global.menu.account.logout">Sign out</span>
            </button>
        </div>
        <div *ngSwitchCase="false">
            <button mat-menu-item color="accent" (click)="login()" id="login">
                    <mat-icon matSuffix>exit_to_app</mat-icon>
                    <span jhiTranslate="global.menu.account.login">Sign in</span>
            </button>

            <button mat-menu-item color="accent" routerLink="register" routerLinkActive="active"
                (click)="collapseNavbar()">
                <mat-icon matSuffix>person_add</mat-icon>
                <span jhiTranslate="global.menu.account.register">Register</span>
            </button>
        </div>
    </mat-menu>
</div>