<div class="modal-header">
    <h4 class="modal-title" jhiTranslate="login.title">Sign in</h4>
    <button aria-label="Close" data-dismiss="modal" class="close" type="button" (click)="activeModal.dismiss('closed')"><span aria-hidden="true">x</span>
    </button>
</div>
<div class="modal-body">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="alert alert-danger" *ngIf="authenticationError" jhiTranslate="login.messages.error.authentication">
                <strong>Failed to sign in!</strong> Please check your credentials and try again.
            </div>
        </div>
        <div class="col-md-8">
            <form class="form" role="form" (ngSubmit)="login()" #loginForm="ngForm">
                    <div class="row">
                            <mat-form-field style="width:100%;padding:10px" color="accent"
                                appearance="outline" floatLabel="auto"
                                [matTooltip]="'global.form.username' | translate"
                                >
                                <mat-label>{{'global.form.username' | translate}}</mat-label>
                                <input matInput placeholder="{{'global.form.username.placeholder' | translate}}"
                                    type="text" name="username" id="username"
                                    [(ngModel)]="username" required />
                            </mat-form-field>
                    </div>
        
                    <div class="row">
                            <mat-form-field style="width:100%;padding:10px" color="accent"
                                appearance="outline" floatLabel="auto"
                                [matTooltip]="'login.form.password' | translate"
                                >
                                <mat-label>{{'login.form.password' | translate}}</mat-label>
                                <input matInput placeholder="{{'login.form.password.placeholder' | translate}}"
                                    [type]="hide ? 'password' : 'text'" name="password" id="password"
                                    [(ngModel)]="password" required />
                                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </mat-form-field>
                    </div>

                    <div class="row">
                        <mat-checkbox name="rememberMe" id="rememberMe" [(ngModel)]="rememberMe" checked><span jhiTranslate="login.form.rememberme">Remember me</span></mat-checkbox>
                    </div>

                    <div class="row">
                            <button color="primary" type="submit" mat-raised-button [disabled]="loginForm.invalid">
                                <span jhiTranslate="login.form.button">Sign in</span>
                            </button>
                    </div>
        
            </form>
            <p></p>
            <div class="alert alert-warning">
                <a class="alert-link" (click)="requestResetPassword()" jhiTranslate="login.password.forgot">Did you forget your password?</a>
            </div>
            <div class="alert alert-warning">
                <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>
                <a class="alert-link" (click)="register()" jhiTranslate="global.messages.info.register.link">Register a new account</a>
            </div>
        </div>
    </div>
</div>
