<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 jhiTranslate="register.title">Registration</h1>

            <div class="alert alert-success" *ngIf="success" jhiTranslate="register.messages.success">
                <strong>Registration saved!</strong> Please check your email for confirmation.
            </div>

            <div class="alert alert-danger" *ngIf="error" jhiTranslate="register.messages.error.fail">
                <strong>Registration failed!</strong> Please try again later.
            </div>

            <div class="alert alert-danger" *ngIf="errorUserExists" jhiTranslate="register.messages.error.userexists">
                <strong>Login name already registered!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" *ngIf="errorEmailExists" jhiTranslate="register.messages.error.emailexists">
                <strong>Email is already in use!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" *ngIf="doNotMatch" jhiTranslate="global.messages.error.dontmatch">
                The password and its confirmation do not match!
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">

            <form name="form" [formGroup]="formFC" (ngSubmit)="register()" *ngIf="!success">

                <div class="row">
                    <mat-form-field color="accent" appearance="outline" class="forminput"
                        [matTooltip]="'global.form.username.placeholder' | translate">
                        <mat-label jhiTranslate="global.form.username">Username</mat-label>
                        <input matInput formControlName="login"
                            placeholder="{{'global.form.username.placeholder' | translate}}"
                            [errorStateMatcher]="esMatcher" type="text" id="login" name="login"
                            [(ngModel)]="registerAccount.login">
                        <mat-error *ngIf="formFC.get('login').hasError('required')"
                            jhiTranslate="register.messages.validate.login.required">
                            Your username is required.
                        </mat-error>
                        <mat-error *ngIf="formFC.get('login').hasError('minlength')"
                            jhiTranslate="register.messages.validate.login.minlength">
                            Your username is required to be at least 1 character.
                        </mat-error>
                        <mat-error *ngIf="formFC.get('login').hasError('maxlength')"
                            jhiTranslate="register.messages.validate.login.maxlength">
                            Your username cannot be longer than 50 characters.
                        </mat-error>
                        <mat-error *ngIf="formFC.get('login').hasError('pattern')"
                            jhiTranslate="register.messages.validate.login.pattern">
                            Your username can only contain letters and digits.x
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="row">
                    <mat-form-field color="accent" appearance="outline" class="forminput"
                        [matTooltip]="'global.form.email.placeholder' | translate">
                        <mat-label jhiTranslate="global.form.email">Email</mat-label>
                        <input matInput formControlName="email"
                            placeholder="{{'global.form.email.placeholder' | translate}}"
                            [errorStateMatcher]="esMatcher" type="email" id="email" name="email"
                            [(ngModel)]="registerAccount.email">
                        <mat-error *ngIf="formFC.get('email').hasError('required')"
                            jhiTranslate="global.messages.validate.email.required">
                            Your email is required.
                        </mat-error>
                        <mat-error *ngIf="formFC.get('email').hasError('email')"
                            jhiTranslate="global.messages.validate.email.invalid">
                            Your email is invalid.
                        </mat-error>
                        <mat-error *ngIf="formFC.get('email').hasError('minlength')"
                            jhiTranslate="global.messages.validate.email.minlength">
                            Your email is required to be at least 5 characters.
                        </mat-error>
                        <mat-error *ngIf="formFC.get('email').hasError('maxlength')"
                            jhiTranslate="global.messages.validate.email.maxlength">
                            Your email cannot be longer than 100 characters.
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="row">
                    <mat-form-field color="accent" appearance="outline" class="forminput"
                        [matTooltip]="'global.form.newpassword.placeholder' | translate">
                        <mat-label jhiTranslate="global.form.newpassword">New password</mat-label>
                        <input matInput formControlName="password"
                            placeholder="{{'global.form.newpassword.placeholder' | translate}}"
                            [errorStateMatcher]="esMatcher" [type]="hide ? 'password' : 'text'" id="password"
                            name="password" [(ngModel)]="registerAccount.password">
                        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        <mat-error *ngIf="formFC.get('password').hasError('required')"
                            jhiTranslate="global.messages.validate.newpassword.required">
                            Your password is required.
                        </mat-error>
                        <mat-error *ngIf="formFC.get('password').hasError('invalid')"
                            jhiTranslate="global.messages.validate.newpassword.invalid">
                            Your password is invalid.
                        </mat-error>
                        <mat-error *ngIf="formFC.get('password').hasError('minlength')"
                            jhiTranslate="global.messages.validate.newpassword.minlength">
                            Your password is required to be at least 4 characters.
                        </mat-error>
                        <mat-error *ngIf="formFC.get('password').hasError('maxlength')"
                            jhiTranslate="global.messages.validate.newpassword.maxlength">
                            Your password cannot be longer than 50 characters.
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="row">
                    <jhi-password-strength-bar [passwordToCheck]="registerAccount.password"></jhi-password-strength-bar>
                </div>

                <div class="row">
                    <mat-form-field color="accent" appearance="outline" class="forminput"
                        [matTooltip]="'global.form.confirmpassword.placeholder' | translate">
                        <mat-label jhiTranslate="global.form.confirmpassword">Confirm password</mat-label>
                        <input matInput formControlName="confirmPassword"
                            placeholder="{{'global.form.confirmpassword.placeholder' | translate}}"
                            [errorStateMatcher]="esMatcher" [type]="hide ? 'password' : 'text'" id="confirmPassword"
                            name="confirmPassword" [(ngModel)]="confirmPassword" />
                        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        <mat-error *ngIf="formFC.get('confirmPassword').hasError('required')"
                            jhiTranslate="global.messages.validate.newpassword.required">
                            Your confirmation password is required.
                        </mat-error>
                        <mat-error *ngIf="formFC.get('confirmPassword').hasError('invalid')"
                            jhiTranslate="global.messages.validate.newpassword.invalid">
                            Your confirmation password is invalid.
                        </mat-error>
                        <mat-error *ngIf="formFC.get('confirmPassword').hasError('minlength')"
                            jhiTranslate="global.messages.validate.newpassword.minlength">
                            Your confirmation password is required to be at least 4 characters.
                        </mat-error>
                        <mat-error *ngIf="formFC.get('confirmPassword').hasError('maxlength')"
                            jhiTranslate="global.messages.validate.newpassword.maxlength">
                            Your confirmation password cannot be longer than 50 characters.
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="row">
                    <button color="primary" type="submit" mat-raised-button [disabled]="formFC.invalid">
                        <mat-icon matSuffix>check_circle_outline</mat-icon>&nbsp;<span
                            jhiTranslate="register.form.button">Register</span>
                    </button>
                </div>

            </form>
            <p></p>
            <div class="alert alert-warning">
                <span jhiTranslate="global.messages.info.authenticated.prefix">If you want to </span>
                <a class="alert-link" (click)="openLogin()" jhiTranslate="global.messages.info.authenticated.link">sign
                    in</a><span jhiTranslate="global.messages.info.authenticated.suffix">, you can try the default
                    accounts:<br />- Administrator (login="admin" and password="admin") <br />- User (login="user" and
                    password="user").</span>
            </div>
        </div>
    </div>
</div>
